<!DOCTYPE html>
<html lang="es">
     <function=$conn = new mysqli($servername,$username$password);
></function>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
     <div class= "contrainer" div>
         <form action=""class="formulario">
               <h2 class="titulo">REGISTAR</h2>
               <div class="padre">
                    <div class="nombre">
                     <label for="">Nombre completo</label>
                     <input type="text">
                  </div>    
               <div class="apellido ">
                    <label for="">apellido </label>
                    <input type="apellido">
     
            </div>
            <div class="telefono">
                 <label for="">telefono</label>
                 <input type="text" 
               </div >
            <div class="consulta de carrera"
                 action="/action_page.php">
               <label for="cars">consulta de carrera</label>
               <select id="cars" name="cars">
                 <option value="volvo">tns en informatica</option>
                 <option value="saab">tecnico de nivel superior veterinaria</option>
                 <option value="fiat">tecnico de nivel superior en tabajo social</option>
               </div >    
               </select>
          </div> 
          <div class="edad ">
               <label for="">edad </label>
               <input type="text">
          <br>
          <label for="comentario">comentario</label>
          <textarea cols="50" rows="10" id="comentario" placeholder="ingreso comentario" name="comentario"></textarea>
          <br>
          <button type="button">Enviar</button>
          
               

              
                        
           





  